@{
    ViewData["Title"] = "About";
}

<div class="text-center" style="max-width: 70%; margin: 0 auto;">
    <h1 class="display-4">About</h1>
    <p>This website was created in order to create a community of like-minded people being able to easily like, dislike and comment on their favorite movies. As the amount of users grows (as the likes and dislikes do with them) it will become clearer and clearer to us all which movies are the most liked (and worth watching) and which should be shunned and kept at an arms length. Each user can either like or dislike each movie once, allowing for a democratic rating solution. The most liked, and least disliked, movies will rise to the top of the website, shifting the users focus to the most enjoyable movies.<br /><br />As you can tell by the name this is a small-scale operation, and we can only afford to keep a database of 20 movies (it is finite after all). Fortunately we have chosen some of the best, most classic movies in the business for your viewing pleasures. <br /><strong>We hope you enjoy!</strong> </p>
</div>
